node_modules
client/node_modules
server/node_modules
client/src
client/public
client/package.json
client/vite.config.js
server/package.json
.git
.vite
.cache
npm-debug.log*
pnpm-debug.log*
.env
.env.*
